<div class="info">
<h1> <%= @dog_breed.name %> </h1>
<%= image_tag("#{@dog_breed.image}", class: "dog_image", alt: "Image of Dog") %> 
<p> Origins: <%= @dog_breed.origins %> </p>
<p> Life Span: <%= @dog_breed.life_span %> </p>
<p> Group: <%= @dog_breed.group %> </p>

<%= render 'dog_info' %>
</div>