<h1>Log In</h1>
<div class="form">
<%= form_tag(sessions_path) do %>

  <p> Email: </p>  <%= text_field_tag :email %> 
   <p> Password: </p> <%= password_field_tag :password %>
   <button class="button"> <input type=submit value= 'login'> </button>
<% end %>

<button class="button"> <%= link_to "Login Via Facebook", facebook_login_path %> </button>

<p> or </p> <br>

<button class="button"> <%= link_to "Sign Up", new_user_path %> </button>

</div>