<%= form_for @user, :url => users_path do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :city %>
    <%= fields_for :atts_table_atts do |atts|%>
    <p> Do you live in an apartment? </p> 
    <p>Yes</p> <%= atts.radio_button :apartment_friendly, true, :value => true %> 
    <p>No</p> <%= atts.radio_button :apartment_friendly, false, :value => false %> 
    <p> Do you or one of the members of your household have allergies to pets? </p> 
    <p>Yes</p> <%= atts.radio_button :hypoallergenic, true, :value => true %> 
    <p>No</p> <%= atts.radio_button :hypoallergenic, false, :value => false %> 
    <p> Do you have any other pets in your home? </p> 
    <p>Yes</p> <%= atts.radio_button :pet_friendly, true, :value => true %> 
    <p>No</p> <%= atts.radio_button :pet_friendly, false, :value => false %> 
    <p> Could you live with a dog that barks or howls? </p> 
    <p>Yes</p> <%= atts.radio_button :noise, true, :value => true %> 
    <p>No</p> <%= atts.radio_button :noise, false, :value => false %> 
    <p> Do you live in a cold climate? </p> 
    <p>Yes</p> <%= atts.radio_button :cold_weather, true, :value => true %> 
    <p>No</p> <%= atts.radio_button :cold_weather, false, :value => false %> 
    <p> What size dog do you prefer? </p>
    <p>Small</p> <%= atts.radio_button :size, 'small', :value => 'small' %> 
    <p>No</p> <%= atts.radio_button :size, 'medium', :value => 'medium' %> 
    <p>Yes</p> <%= atts.radio_button :size, 'large', :value => 'large' %> 
    <% end %>
<%= f.submit %>
<% end %>
