<%= form_for @atts_table, :url => atts_tables_path do |f| %>

<p> Do you live in an apartment? </p> 
    <p>Yes</p> <%= f.radio_button :apartment_friendly, true, :value => true %> 
    <p>No</p> <%= f.radio_button :apartment_friendly, false, :value => false %> 
<p> Do you or one of the members of your household have allergies to pets? </p> 
    <p>Yes</p> <%= f.radio_button :hypoallergenic, true, :value => true %> 
    <p>No</p> <%= f.radio_button :hypoallergenic, false, :value => false %> 
<p> Do you have any other pets in your home? </p> 
    <p>Yes</p> <%= f.radio_button :pet_friendly, true, :value => true %> 
    <p>No</p> <%= f.radio_button :pet_friendly, false, :value => false %> 
<p> Could you live with a dog that barks or howls? </p> 
    <p>Yes</p> <%= f.radio_button :noise, true, :value => true %> 
    <p>No</p> <%= f.radio_button :noise, false, :value => false %> 
<%= f.submit %>
<% end %>

