<%= form_for @atts_table do |f| %>

<p> Do you live in an apartment? </p> 
<%= f.radio_button :apartment_friendly, 'Yes', :value => 'true' %> 
<%= f.radio_button :apartment_friendly, 'No', :value => 'false' %> 
<p> Do you or one of the members of your household have allergies to pets? </p> 
<%= f.radio_button :hypoallergenic, 'Yes', :value => 'true' %> 
<%= f.radio_button :hypoallergenic, 'No', :value => 'false' %> 
<p> Do you have any other pets in your home? </p> 
<%= f.radio_button :pet_friendly, 'Yes', :value => 'true' %> 
<%= f.radio_button :pet_friendly, 'No', :value => 'false' %> 
<p> Could you live with a dog that barks or howls? </p> 
<%= f.radio_button :noise, 'Yes', :value => 'true' %> 
<%= f.radio_button :noise, 'No', :value => 'false' %> 
<%= f.submit %>
<% end %>

