<h1> Your Preferences </h1>

<div class="info">
<p> Do you live in an apartment? <%= @atts_table.apartment_friendly %> </p>
<p> Do you or one of the members of your household have allergies to pets? <%= @atts_table.hypoallergenic %> </p>
<p> Do you have any other pets in your home? <%= @atts_table.pet_friendly %> </p>
<p> Could you live with a dog that barks or howls? <%= @atts_table.noise %> </p>
<p> Do you live in a cold climate? <%= @atts_table.cold_weather %> </p>
<p> What size dog do you prefernce? <%= @atts_table.size %> </p>


<%= form_tag('/matches') do %>
<%= hidden_field_tag('user_id', @atts_table.user_id)%>
<button class="button">
<input type="submit" value="Create Match">
</button>
<% end %>


<%= form_tag atts_table_path(@atts_table.id), method: "delete" do %>
 <button class="button"> <%= submit_tag "Delete Preferences" %> </button>
<% end %>

</div>