<h1> Your Preferences </h1>


<p> Do you live in an apartment? </p> <%= @atts_table.apartment_friendly %>
<p> Do you or one of the members of your household have allergies to pets? </p> <%= @atts_table.hypoallergenic %>
<p> Do you have any other pets in your home? </p> <%= @atts_table.pet_friendly %>
<p> Could you live with a dog that barks or howls? </p> <%= @atts_table.noise %>

<%= form_tag('/matches') do %>
<%= hidden_field_tag('user_id', @atts_table.user_id)%>
<input type="submit" value="Create Match">
<% end %>

<p> <%= link_to "Edit Your Preferences Here", edit_atts_table_path(@atts_table) %></p>
<p> <%= link_to "Delete Your Preferences", atts_table_path(@atts_table), :method => :delete %> </p>
