<% @dog_breed = DogBreed.find(@match.dog_breed_id) %>
<h1> You and <%= @dog_breed.name %> </h1>

<div class="info">
<p> Origins: <%= @dog_breed.origins %> </p>
<p> Life Span: <%= @dog_breed.life_span %> </p>
<p> Group: <%= @dog_breed.group %> </p>

<% @dog_atts = @dog_breed.atts_table %>
<p> Is this dog apartment friendly? <%= @dog_atts.apartment_friendly %> </p>
<p> Is this dog hypoallergenic? <%= @dog_atts.hypoallergenic %> </p>
<p> Is this dog friendly to other pets in the house? <%= @dog_atts.pet_friendly %> </p>
<p> Is this dog likely to bark or howl? <%= @dog_atts.noise %> </p>
</div>


<%= form_for(@match) do |f| %>
<p> What do you think of this match? </p> <%= f.text_area :comment_field %>
<button class="button"> <%= f.submit "Add Comment" %> </button>
<% end %>



<%= form_tag match_path(@match.id), method: "delete" do %>
 <button class="button"> <%= submit_tag "Unmatch" %> </button>
<% end %>
