<% @dog_breed = DogBreed.find(@match.dog_breed_id) %>
<h1> You and <%= @dog_breed.name %> </h1>

<%= image_tag("#{@dog_breed.image}", class: "dog_image", alt: "Image of Dog") %> 

<div class="info">
<p> Origins: <%= @dog_breed.origins %> </p>
<p> Life Span: <%= @dog_breed.life_span %> </p>
<p> Group: <%= @dog_breed.group %> </p>

<%= render 'dog_breeds/dog_info' %>

<% if @match.comment_field != nil %>
    <p> Your Comments: <%= @match.comment_field %> </p>
<% end %>
<button class="button">
<%= link_to "Edit Your Match", edit_match_path(@match) %>
</button>
</div>